/*注册css样式*/
.register-main{
    width:100%;
    height:600px;
     background: #1Ec9f9;
}
.main-content{
    width:1200px;
    margin: auto;
    /*background-image: url("../images/loginImg%20(1).png");*/

}
.content-left{
    display: inline-block;
    width:50%;
    height:350px;
    background-image: url("../images/loginImg%20(1).png");
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.content-right{
    display: inline-block;
    width:35%;
    height:598px;
    background:#fff;
    /*vertical-align: middle;*/
    padding-top:30px;
    margin-left:160px;
}
input{
    width:300px;
    height:40px;
}
.title-p{
    padding-left: 64px;
    text-align: left;
}
.right-testing input{
    width:160px;
}
.right-testing a img{
    height:40px;
    vertical-align: top;
}
.right-button{
    width:190px;
    height:50px;
    padding-left:60px;
}
.right-button p button{
    width: 300px;
    height:45px;
    background: #e93a38;
    border:0;
}
.button-check p input{
    width:15px;
    height:15px;
}
.login{
    padding-top:20px;
}
.login-list{
    padding-left:30px;
}
.login-list a img{
    width:40px;
    height:40px;
}
.title-bottom{
    padding-top: 20px;
}
/*登录页面*/
.form-check p{
    text-align: left;
    padding-left: 60px;
}
.form-check p input{
    width:16px;
    height:16px;
}
.bottom-right{
    padding-left: 100px;
}

/*个人中心*/
.personalCenter-main{
    background:#F7F7F7;
    margin-top:30px;
}
.main-list{
    display: inline-block;
    width:200px;
    border:1px solid lightslategray;
    border-top: 0;
}
.list-content{

}
.list-content li p{
    height:40px;
    border-top: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
    padding:8px 0 0 10px;
    margin:0;
}
.list-content>li>ul li{
    padding:4px 0 10px 10px;
    background:#fff;
}
.main-centerContent{
    display: inline-block;
    vertical-align: top;
    min-width:900px;
    width:75%;
    /*min-height: 40px;*/
     border:1px solid lightslategray;
    margin-left:24px;
}
.main-centerContent{
    line-height:40px;
    padding-left:10px;
}
.headPortrait{
    width:50px;
    height:50px;
    /*border: 1px solid #000000;*/
}
.headPortrait>img{
    width:100%;
    height:100%;
}
/*个人中心*/
.td{
    height:80px;
    width:80px;
    padding:5px;
}
.td>img{
    height:100%;
    width:100%;
}

/*新闻中心*/
h5{
    margin:20px 0;
    font-size:16px;
}
.nerCenter-left{
    display: inline-block;
    width:20%;
    background: #ffffff;;
}
.nerCenter-left>ul>li{
    margin-left:10px;
    padding-top:10px;
    /*border-bottom:1px solid lightgray;*/
}
.nerCenter-left>ul>li>img{
    margin-left:5px;
}
.nerCenter-left h4{
    display: inline-block;
    margin-left:5px;
}
.nerCenter-left ul li{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size:11px;
}
.nerCenter-left>ul>li>ul>li>div,.aa{
    display:inline-block;
    width:10px;
    height:10px;
    border:1px solid skyblue ;
    border-radius: 5px;
    background:skyblue;
    margin-right:10px;
}
.nerCenter-left>ul>li>ul>li{
    margin-bottom: 10px;
    margin-left:20px;
}
.nerCenter-left>ul>li>ul>li>a{
    color:black;

}
.newCenter{
    display: inline-block;
    width:70%;
    background: #ffffff;
    vertical-align: top;
    margin-left:20px;
}
.newCenter-content{
    margin-left:10px;
}
.newCenter-content>li{
    display:inline-block;
    width: 150px;
    margin: 30px 2px;
    text-align: center;
    background: #f6f6f6;
}
.active>a{
    background:skyblue!important;
}
.newCenter>ul>li>a{
    font-size: 20px;
}

#contentNews>li{
    padding-left: 30px;
    padding-bottom: 20px;
}